@import "../../variables";
.product {
  $border-radius-value: 6px;
  min-height: 200px;
  // background-color: $light-blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px -1px 26px 20px $blue;
  border-radius: $border-radius-value;
  overflow: hidden;
  flex-direction: column;
  padding: 5px;
  &__face {
    font-weight: bold;
  }
  &__price {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: $red;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0 $border-radius-value 0 $border-radius-value;
  }
  &__date {
    margin-top: 30px;
    font-size: 12px;
  }
}
